body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.salad {
  position: absolute;
  width: 375px;
  height: 182px;
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.15);
   z-index: 1;
}
h1 {
  position: absolute;
  left: 5.07%;
  right: 53.87%;
  top: 23.89%;
  bottom: 71.43%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */
  color: #000000;
}
.health-food {
  position: absolute;
  left: 5.07%;
  right: 66.93%;
  top: 29.31%;
  bottom: 68.84%;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */
  color: #000000;
  opacity: 0.54;
}
.address {
  position: absolute;
  left: 5.07%;
  right: 46.67%;
  top: 32.51%;
  bottom: 65.64%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */
  color: #000000;
}
.pickup {
  position: absolute;
  left: 5.07%;
  right: 46.67%;
  top: 35.71%;
  bottom: 62.44%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #4F4F4F;
}
.direction {
  position: absolute;
  left: 58.13%;
  right: 15.2%;
  top: 32.51%;
  bottom: 65.64%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #6540F5;
}
#caesar {
  position: absolute;
  left: 5.07%;
  right: 28.53%;
  top: 46.67%;
  bottom: 51.48%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #4F4F4F;
}
#chef {
  position: absolute;
  left: 5.07%;
  right: 28.53%;
  top: 55.67%;
  bottom: 42.49%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #4F4F4F;
}
#russian {
  position: absolute;
  left: 5.07%;
  right: 28.53%;
  top: 64.66%;
  bottom: 33.5%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #4F4F4F;
}
#moo {
  position: absolute;
  left: 5.07%;
  right: 28.53%;
  top: 73.65%;
  bottom: 24.51%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #4F4F4F;

}
.line {
  position: absolute;
  width: 356px;
  height: 0px;
  left: 19px;
  top: 436px;
  border: 0.5px solid #BDBDBD;
}
.vector {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0.04%;
  bottom: 0.03%;
  background: rgba(0, 0, 0, 0.54);
}